.header {
    padding-top: 1em;
}

.header-icon {
    border-radius: 50%;
    display: inline-block;
    height: 1.5em;
    vertical-align: middle;
    width: 1.5em;
}

.nowar {
    padding: 1em 0;
    background-color: #000;
    color: #fff;
}
.nowar a {
    color: #fff;
    border-bottom-color: #fff;
}

@media only screen and (min-width: 62em) {
    .nowar {
        text-align: center;
    }
}
