<footer class="container footer">
    <ul class="naked-list">
        <li class="footer__item">Subscribe:
            <a href="https://twitter.com/ohmypy" class="footer__social-link"><i
                    class="fab fa-twitter"></i><span>Twitter</span></a>
            <a href="http://digest.antonz.org/" class="footer__social-link"><i
                    class="fas fa-envelope"></i><span>Email</span></a>
            <a href="/index.xml" class="footer__social-link"><i class="fas fa-rss"></i><span>RSS</span></a>
        </li>
        <li class="footer__item">Email: <a href="mailto:m@antonz.org">m@antonz.org</a></li>
    </ul>
</footer>