<footer class="container footer">
    <ul class="naked-list">
        <li class="footer__item">Subscribe:
            <a href="https://twitter.com/ohmypy" class="footer__social-link">
                <i class="fab fa-twitter-1"></i><span>Twitter</span>
            </a>
            <a href="https://github.com/nalgeon" class="footer__social-link">
                <i class="fab fa-github-1"></i><span>GitHub</span>
            </a>
            <a href="https://www.linkedin.com/in/nalgeon/" class="footer__social-link">
                <i class="fab fa-linkedin-2"></i><span>LinkedIn</span>
            </a>
            <a href="/index.xml" class="footer__social-link"><i class="fas fa-rss"></i><span>RSS</span></a>
        </li>
        <li class="footer__item">Email: <a href="mailto:m@antonz.org">m@antonz.org</a></li>
    </ul>
</footer>