<section id="about" class="storey storey--notop home__block">
    <div class="container">
        <h2 class="storey__header">About</h2>
        <div class="row">
            <div class="col-xs-4 col-sm-2 col-md-1">
                <p><img src="/assets/antonz.jpg"></p>
            </div>
            <div class="col-xs-8 col-sm-6">
                <p>
                    I’m Anton, software developer and SQLite enthusiast.
                    I work on open-source projects to facilitate developers
                    create awesome products.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <p></p>
                <p>
                    <a class="menu__link" href="https://twitter.com/ohmypy">
                        <i class="fab fa-twitter"></i> Twitter
                    </a>
                    <a class="menu__link" href="/index.xml">
                        <i class="fas fa-rss"></i> RSS
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>