<section id="windows" class="storey storey--notop home__block">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <a class="portfolio-thumb" href="/sql-window-functions-book/">
                    <img class="portfolio-thumb--raised" src="/assets/projects/windows.png" alt="SQL Window Functions">
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 promo__description">
                <p>
                    <strong>SQL Window Functions Book</strong><br>
                    A clear and visual introduction to window functions in SQL.
                    Teaches how to create great analytical reports without using Excel.
                </p>
                <p>
                    <a class="button" href="/sql-window-functions-book/">
                        Learn more
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>