<section id="projects" class="storey storey--notop">
    <div class="container">
        <div class="home__block">
            <h2 class="storey__header">Projects</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <p>For everyone working with data.</p>
                    <p></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    {{- partial "projects-core.html" . -}}
                </div>
            </div>
        </div>

    </div>
</section>