<section id="about" class="storey storey--notop home__block">
    <div class="container">
        <h2 class="storey__header">About</h2>
        <div class="row">
            <div class="hidden-mobile col-xs-2 col-sm-2 col-md-1">
                <p><img src="/assets/antonz.jpg"></p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p>
                    I’m Anton, software developer and SQLite enthusiast.
                    I work on open-source projects to facilitate developers
                    create awesome products&nbsp;
                    <a class="menu__link" href="https://github.com/nalgeon/">
                        <i class="fab fa-github"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>