<div class="col-xs-12 col-sm-4 flex">
    <div class="project-block">
        <p>
            <a class="portfolio-thumb" href="https://sqlime.org">
                <strong><i class="fas fa-cloud"></i> sqlime</strong>
                &nbsp;<span class="color-gray">online</span>
            </a>
        </p>
        <p>Interactive SQLite playground in the browser.</p>
    </div>
</div>

<div class="col-xs-12 col-sm-4 flex">
    <div class="project-block">
        <p>
            <a class="portfolio-thumb" href="https://github.com/nalgeon/sqlean">
                <strong><i class="fas fa-database"></i> sqlean</strong>
                &nbsp;<span class="color-gray">extension</span>
            </a>
        </p>
        <p>The ultimate set of SQLite extensions.</p>
    </div>
</div>

<div class="col-xs-12 col-sm-4 flex">
    <div class="project-block">
        <p>
            <a class="portfolio-thumb" href="https://github.com/nalgeon/podsearch-py">
                <strong><i class="fas fa-code"></i> podsearch</strong>
                &nbsp;<span class="color-gray">package</span>
            </a>
        </p>
        <p>Finds podcasts via iTunes Search API.</p>
    </div>
</div>

<div class="col-xs-12 col-sm-4 flex">
    <div class="project-block">
        <p>
            <a class="portfolio-thumb" href="https://github.com/nalgeon/pokitoki">
                <strong><i class="fas fa-code"></i> pokitoki</strong>
                &nbsp;<span class="color-gray">bot</span>
            </a>
        </p>
        <p>A Telegram chat bot built using the ChatGPT language model from OpenAI.</p>
    </div>
</div>


<div class="col-xs-12 col-sm-4 flex">
    <div class="project-block">
        <p>
            <a class="portfolio-thumb" href="https://github.com/nalgeon/dataviz">
                <strong><i class="fas fa-book"></i> dataviz</strong>
                &nbsp;<span class="color-gray">book</span>
            </a>
        </p>
        <p>Data Visualization Guide for presentations, reports, and dashboards.</p>
    </div>
</div>