<div class="search-module">
    <form action="https://duckduckgo.com/">
        <input type="hidden" name="kf" value="-1">
        <input type="hidden" name="kz" value="-1">
        <input type="hidden" name="kaf" value="1">
        <input type="hidden" name="ko" value="-2">
        <input type="hidden" name="k1" value="-1">
        <input type="hidden" name="sites" value="antonz.org">
        <input type="search" name="q" value="" autocomplete="off" placeholder="Search" aria-label="Search">
    </form>
</div>