<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    {{- partial "head.html" . -}}
</head>

<body>
    <section class="storey">
        <div class="container">
            <p id="message">Resolving short URL...</p>
        </div>
    </section>
    <script>
        const routes = {
            "empsql": "/sql-window-functions-book/employees.sql",
            "salsql": "/sql-window-functions-book/sales.sql",
            "w22prt": "/sql-window-functions-ranking/partition.gif",
            "w22rnk": "/sql-window-functions-ranking/rank.gif",
            "w23lag": "/sql-window-functions-offset/lag.gif",
            "w23nth": "/sql-window-functions-offset/nth.gif",
            "w23prt": "/sql-window-functions-offset/partition.gif",
            "w23frm": "/sql-window-functions-offset/frame.gif",
            "w24sum": "/sql-window-functions-aggregation/sum.gif",
            "w25avg": "/sql-window-functions-rolling-aggregates/avg.gif",
            "w25sum": "/sql-window-functions-rolling-aggregates/sum.gif",
            "w31row": "/sql-window-functions-book/rows.gif",
            "w31grp": "/sql-window-functions-book/groups.gif",
            "w32rng": "/sql-window-functions-book/range.gif",
            "w26my": "https://www.db-fiddle.com/f/pB2V7K8aKmDMEiEqcTiw3N/0",
            "w26pg": "https://www.db-fiddle.com/f/xiYnt5Q9imfMSAoTpjD2ja/0",
            "w26sql": "/sql-window-functions-book/weather-1.sql",
            "w41db": "https://sqlime.org/#https://antonz.org/sql-window-functions-book/sales.db",
            "w41sql": "/sql-window-functions-book/sales.sql",
            "w42db": "https://sqlime.org/#https://antonz.org/sql-window-functions-book/activity.db",
            "w42sql": "/sql-window-functions-book/activity.sql",
            "w43db": "https://sqlime.org/#https://antonz.org/sql-window-functions-book/weather-2.db",
            "w43pg": "https://www.db-fiddle.com/f/qD2TaUu2fTJrWmJCZc4t1C/0",
            "w43sql": "/sql-window-functions-book/weather-2.sql"
        }

        function navigate() {
            const msg = document.getElementById("message");
            let key = location.hash;
            if (key == "") {
                msg.innerHTML = "Missing short URL";
                return;
            }
            key = key.substring(1,)
            const url = routes[key];
            if (!url) {
                msg.innerHTML = "Route not found";
                return;
            }
            msg.innerHTML = "Done ✓"
            location.replace(url);
        }

        navigate();
    </script>
</body>

</html>