<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    {{- partial "head.html" . -}}
</head>

<body>
    <section class="storey">
        <div class="container">
            <p id="message">Resolving short URL...</p>
        </div>
    </section>
    <script>
        const routes = {
            "empsql": "/sql-window-functions/employees.sql",
            "salsql": "/sql-window-functions/sales.sql",
            "w22prt": "/sql-window-functions/docs/img/22/partition.gif",
            "w22rnk": "/sql-window-functions/docs/img/22/rank.gif",
            "w23lag": "/sql-window-functions/docs/img/23/lag.gif",
            "w23nth": "/sql-window-functions/docs/img/23/nth.gif",
            "w23prt": "/sql-window-functions/docs/img/23/partition.gif",
            "w23frm": "/sql-window-functions/docs/img/23/frame.gif",
            "w24sum": "/sql-window-functions/docs/img/24/sum.gif",
            "w25avg": "/sql-window-functions/docs/img/25/avg.gif",
            "w25sum": "/sql-window-functions/docs/img/25/sum.gif",
            "w31row": "/sql-window-functions/docs/img/31/groups.gif",
            "w31grp": "/sql-window-functions/docs/img/31/rows.gif",
            "w32rng": "/sql-window-functions/docs/img/32/range.gif"
        }

        function navigate() {
            const msg = document.getElementById("message");
            let key = location.hash;
            if (key == "") {
                msg.innerHTML = "Missing short URL";
                return;
            }
            key = key.substring(1,)
            const url = routes[key];
            if (!url) {
                msg.innerHTML = "Route not found";
                return;
            }
            msg.innerHTML = "Done ✓"
            location.replace(url);
        }

        navigate();
    </script>
</body>

</html>